[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
aiohttp = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
myst-parser = "*"

[requires]
python_version = "3.8"
